
/* modal styling */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
}


/* body styling */
body {
  margin: 0;
  font-family: 'Slabo 27px', serif;
  /*background:url("../../img/body.png");*/
  background-size: cover;
  color:#000000;
  /*-webkit-font-smoothing: antialiased;*/
  /*text-rendering: optimizeLegibility;*/
}

/* navbar styling */
.signup {
  margin-top: 6px;
  margin-left: 4px;
}

.modal-content {
  color :#000000;
}

.form-group .btn-success {
  margin-top: 15px;
  margin-left: 15px;
}

.form-group .btn-warning {
  margin-top: 15px;
}

.textbox{
  width :200px;
}

.navbar-brand {
  padding: 13px 15px;
  color :#ffffff;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.dropdown:hover .dropdown:active {
  background-color: #333;
  color:#ffffff;
}

ul.unstyled {
  list-style: none;
  padding: 0;
  color:#ffffff;
}

a {
  color:#ffffff;
}

.navbar-nav li a{
  color : #ffffff;
}

.btn-default {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #9c9090;
  border-color: #9c9090;
}

.navbar-nav .dropdown a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color : #ffffff;
}

.navbar-nav .open a, .navbar-nav .open a:hover, .navbar-nav .open a:focus {
  color: #555;
  background-color: #d5d5d5;
}

.unstyled li {
  display: inline;
}

.navbar-fixed-top{
  background: #333;
  color:#ffffff;
}

h2{
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
}

/* main section styling */
.photography-image{

  background:url("../../img/photography.png");
  height: 220px;
  margin-top: 8%;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.direction-image{
  margin-top: 8%;
  background:url("../../img/direction.png");
  /*width: 220px;*/
  height: 220px;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.acting-image{
  margin-top: 8%;
  background:url("../../img/acting.png");
  /*width: 430px;*/
  height: 220px;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Styling end to end unit*/
.jumbotron {
	margin : 0;
	background:url("../../img/star.png") no-repeat center center;
  background-size:cover;
  padding-top: 20%;
  padding-bottom: 20%;
}

/*Styling footer*/
footer {
  background: #333;
  color: #ffffff;
  font-size: 11px;
  padding: 20px;
}

iframe {
  width :100%;
  height :120px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: #ffffff;
}

.fa-twitter {
  background: #55ACEE;
  color: #ffffff;
}

.fa-google {
  background: #dd4b39;
  color: #ffffff;
}

.fa-linkedin {
  background: #007bb5;
  color: #ffffff;
}

.fa-youtube {
  background: #bb0000;
  color: #ffffff;
}

.fa-instagram {
  background: #125688;
  color: #ffffff;
}